.container {
  width: 90%;
  min-height: 90vh;
  margin: 6em 2em 1em;
  overflow: hidden;
  // background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(../deadpool.jpg);
  // background-size: contain;
  // background-position: right;
  // background-repeat: no-repeat;
  // background-attachment: fixed;

  @media (width >= 800px) {
    margin: 6em;
  }

  h2 {
    padding-left: 0.3em;

    @media (width >= 800px) {
      padding-left: 2.5em;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;

  @media (width >= 800px) {
    flex-direction: row;
  }

  .text {
    padding: 0;
    color: #fff9;
    line-height: 30px;
    font-size: 1.3rem;

    @media (width >= 800px) {
      padding: 0 2em 3em 3em;
    }

    p {
      padding: 0.5em 0;
      width: 100%;

      @media (width >= 800px) {
        width: 80%;
      }
    }
  }

  img {
    width: 350px;
    height: auto;
    object-fit: cover;

    @media (width >= 800px) {
      width: 450px;
      height: 600px;
    }
  }
}
