.card {
  display: flex;
  flex-direction: column;
  width: 280px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #fff9;
  border-radius: 8px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);

  img {
    height: 380px;
    width: 280px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;

    &:hover {
      // opacity: 0.2;
      // transform: scale(1.2);
      // transition: opacity 0.5s;
      // filter: blur(0.3rem);
    }
  }

  &__content {
    margin-top: 20px;
    color: #fff;
    text-align: center;

    @media (width >= 800px) {
      margin-top: 0;
      text-align: left;
    }
  }

  &__title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    margin: 15px 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px 10px;

    @media (width <= 800px) {
      margin-top: 0;
      text-align: left;
      justify-content: space-between;
    }
  }
}
