.hero {
  position: relative;
  height: 70vh;
  margin-top: 5rem;
  overflow: hidden;
  opacity: 0.6;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url('../../public/joker-mobile.jpg');
  background-size: cover;
  background-position: right;
  // background-repeat: no-repeat;
  /* background-attachment: fixed; */
  animation-name: face;
  animation-duration: 4s;

  @media (width >= 800px) {
    height: 90vh;
    margin-top: 2rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url('../../public/joker.jpg');

    background-position: center;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.3;

    @media (width >= 800px) {
      width: auto;
      height: 100%;
    }
  }
}

@keyframes face {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
