.movie-info {
  min-height: 95vh;
  width: 90%;
  margin-top: 7em;
  margin-left: 5em;
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-attachment: fixed;

  h2 {
    color: #fff;
  }
}

.content {
  height: 80vh;
  display: flex;
  color: #fff;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.synopsis {
  margin-left: 3em;
  font-size: 1.2rem;

  h2 {
    margin-bottom: 1em;
  }

  p {
    margin: 1em 0;
    color: #bdc3c7;
  }

  span {
    color: #ecf0f1;
  }
}
