.movie-info {
  min-height: 95vh;

  @media (width >= 800px) {
    width: 90%;
    margin-top: 7em;
    margin-left: 5em;
  }

  h2 {
    color: #fff;
  }

  button {
    margin: 10px 15px;
    padding: 0.7em 1.5em;
    color: #fff;
    background-color: #000;
    border: 1px solid #fff7;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;

    &:hover {
      background-color: lighten(#000, 10%);
      border: 1px solid #fff7;
    }

    @media (width >= 800px) {
      margin-left: 0;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding-top: 7em;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @media (width >= 800px) {
    display: flex;
    flex-direction: row;
    padding-top: 0rem;
  }

  img {
    height: 380px;
    width: 300px;
    margin: 10px;
    object-fit: cover;
    border-radius: 8px;

    @media (width <= 800px) {
      display: none;
    }
  }
}

.synopsis {
  padding: 0 15px;
  font-size: 1.2rem;

  @media (width >= 800px) {
    margin-left: 3em;
  }

  h2 {
    margin-bottom: 1em;
  }

  p {
    margin: 1em 0;
    color: #bdc3c7;
  }

  span {
    color: #ecf0f1;
  }
}
