body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gainsboro;
}

nav {
  padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 52.5px - 64px);
  padding: 1.5rem 0;
}

.container {
  padding-bottom: 10px;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}

.card {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
}

/* .card-image {
  height: 430px;
}

@media (min-width: 530px) {
  .card-image {
    height: 370px;
  }
} */

.card .card-image .card-title {
  opacity: 0;
  font-size: large;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  text-align: center;
  visibility: hidden;
}

.card .card-image:hover .card-title {
  opacity: 1;
  visibility: visible;
  color: azure;
  transition: opacity 0.7s 0.3s;
}

/* hover only half-size */
.card .card-image .activator:hover {
  opacity: 0.2;
  /* filter: blur(0.3rem); */
  transition: opacity 0.5s 0.3s;
}

/* hover entire card */
/* .card:hover .card-image {
  filter: blur(0.3rem);
  opacity: 0;
  transition: opacity 0.6s 0.6s;
} */

.card {
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
}

.card-content p {
  color: azure;
}

/* Seaching */
input[type='text'] {
  color: dimgray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::placeholder {
  color: gray;
}

.search-btn {
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
}

label {
  color: #7e57c2;
  float: right;
}

label {
  margin-right: 10px;
}
