body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gainsboro;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* up/down = 0, left/right = 1 */
nav {
  padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 56px - 41px);
  padding: 1.5rem 0;
}

.container {
  padding-bottom: 10px;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}

/* .card-title {
  font-size: 3rem;
} */

.card {
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
}

/* Seaching */
input[type='text'] {
  color: #7e57c2;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::placeholder {
  color: gray;
}

.search-btn {
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
}

label {
  /* padding: 5px; */
  color: #7e57c2;
  float: right;
}

label {
  margin-right: 10px;
}

/* label:not(:last-child) {
  margin-right: 1rem;
} */
